<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Configurações</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="styles/Config.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="SiGECApp" layout="column" ng-controller="AppCtrl" ng-cloak>

    <md-toolbar layout="row">
      <h1>Configurações</h1>
        <span flex></span>
        <div id="toolbar-menu">
            </div>
    </md-toolbar>

    <div id="outter-box" layout="column" ng-cloak class="md-inline-form">
        <div id="switch-box" >
        <p>Receber Notificações</p>
         <md-input-container class="md-block">
         <md-switch ng-model="data.cb1" aria-label="Switch 1">
             </md-switch>
             </md-input-container>
        </div>
        <div id="switch-plus" ng-if="data.cb1">
              <md-input-container class="md-block" ng-if"data.cb1" flex-gt-sm>
            <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">
               Email
             </md-checkbox>
            </md-input-container>
        </div>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>   

    <script type="text/javascript">
            var app =   angular
              .module('SiGECApp', ['ngMaterial']);    
        app.controller('AppCtrl', function($scope, $mdDialog, $mdMedia) {
  $scope.status = '  ';
  $scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');
  $scope.showConfirm = function(ev) {
    // Appending dialog to document.body to cover sidenav in docs app
    var confirm = $mdDialog.confirm()
          .title('Would you like to delete your debt?')
          .textContent('All of the banks have agreed to forgive you your debts.')
          .ariaLabel('Lucky day')
          .targetEvent(ev)
          .ok('Please do it!')
          .cancel('Sounds like a scam');
    $mdDialog.show(confirm).then(function() {
      $scope.status = 'You decided to get rid of your debt.';
    }, function() {
      $scope.status = 'You decided to keep your debt.';
    });
  };
});
function DialogController($scope, $mdDialog) {
  $scope.hide = function() {
    $mdDialog.hide();
  };
  $scope.cancel = function() {
    $mdDialog.cancel();
  };
  $scope.answer = function(answer) {
    $mdDialog.hide(answer);
  };
}
    </script>
       <script src="./src/packages/PackageService.js"></script>

  </body>
</html>
