<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Encomendas</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="styles/EncomendasStyle.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="SiGECApp" layout="column" ng-controller="PackageController as ul" ng-cloak>

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Package List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Encomendas</h1>
        <span flex></span>
        <div id="toolbar-menu">
        <md-button class="md-icon-button" aria-label="Settings" href="conifg.html">
          <md-icon md-svg-icon="assets/svg/ic_settings_white_36px.svg"></md-icon>
        </md-button>
         <md-button class="md-icon-button" aria-label="Login" href="login.html">
          <md-icon md-svg-icon="assets/svg/ic_power_settings_new_white_24px.svg"></md-icon>
        </md-button>
            </div>
    </md-toolbar>

    <div id="outter-box" flex layout="row">

        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
            <div ng-cloak>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab id="tab1">
        <md-tab-label>Entregue</md-tab-label>
        <md-tab-body>
             <md-list>
            <md-list-item ng-repeat="it in ul.packages | filter:{status:'Entregue'}:true">
                <md-button ng-click="ul.selectPackage(it)" ng-class="{'selected' : it === ul.selected }">
                    <div id="list-item">
                    <img ng-src="{{it.image}}"  class="avatar">
                        <div id="list-text">
                    <span>{{it.enterprise}}</span>
                    <span id="item-date">{{it.date}}</span>
                            </div>
                    </div>
                </md-button>
            </md-list-item>
          </md-list>
         
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Não Entregue</md-tab-label>
        <md-tab-body>
           <md-list>
            <md-list-item ng-repeat="it in ul.packages| filter:{status:'Não Entregue'}" >
                <md-button ng-click="ul.selectPackage(it)" ng-class="{'selected' : it === ul.selected }">
                    <div id="list-item">
                    <img ng-src="{{it.image}}"  class="avatar">
                        <div id="list-text">
                    <span>{{it.enterprise}}</span>
                    <span id="item-date">{{it.date}}</span>
                            </div>
                    </div>
                </md-button>
            </md-list-item>
          </md-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
            
            
         
        </md-sidenav>

        <md-content ng-cloak flex id="content">
            
        <div id="item-head">
          <img ng-src="{{ul.selected.image}}"  class="avatar">
          <span id="enterprise">{{ul.selected.enterprise}}</span>
            <div id="checkbox">
            <label>{{ ul.selected.status}}</label>
            <md-checkbox aria-label="Checkbox 1" ng-model="ul.selected.status"
                ng-true-value="'Entregue'" ng-false-value="'Não entregue'" >
            
            </md-checkbox>
                </div>
        </div>
        <div id="item-body">
            <div class="att-line">
            <p><span>Destin.: </span> {{ul.selected.name}}</p>
            <p><span>Tipo: </span> {{ul.selected.type}}</p>
            <p><span>Peso: </span> {{ul.selected.peso}}{{ul.selected.unidade}}</p>
            </div>
            <div class="att-line" >
            <p><span>Bloco:</span> {{ul.selected.bloco}}</p>
            <p><span>Apartamento: </span> {{ul.selected.apartamento}}</p>
            <p><span>Receptor: </span> {{ul.selected.receptor}}</p>
            </div>
            <p><span>Descrição: </span> {{ul.selected.description}}</p>
            </div>
        </md-content>
        
         <md-button class="md-fab md-primary" href="registro%20de%20encomenda.html">
          <md-icon md-svg-src="assets/svg/ic_add_white_36px.svg"></md-icon>
        </md-button>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./src/packages/Packages.js"></script>
    <script src="./src/packages/PackageController.js"></script>
    <script src="./src/packages/PackageService.js"></script>

    <script type="text/javascript">
            var app =   angular
              .module('SiGECApp', ['ngMaterial', 'packages']);
        
              app.config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });
        
        

    </script>
      

  </body>
</html>
