<html lang="en" >
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Angular Material style sheet -->
     <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
      <link rel="stylesheet" type="text/css" href="styles/loginStyle.css">
   </head>
   <body ng-app="SiGECApp" ng-cloak>
      <div id="text-header">
         <h1>Sistema de Gerenciamento de Encomendas Condominal</h1>
         <h2>Entre com sua conta</h2>
      </div>
      <div id="text-center">
         <form  name="loginForm" >
            <div  id="login-form" layout-gt-sm="column">
               <md-card>
                  <md-card-content >
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>CEP</label>
                        <input name="cep" ng-pattern="/^[0-9]{5}-[0-9]{3}$/" required="true" ng-model="user.cep">
                        <div class="hint">Exemplo: 51234-567</div>
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>N&uacute;mero do Condominio</label>
                        <input name="condnum" required="true" ng-pattern="/^[0-9]+$/" ng-model="user.numero">
                        <div class="hint">Exemplo: 164</div>
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>C&oacute;digo do usu&aacute;rio</label>
                        <input name="cod" required ng-model="user.complemento">
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Senha</label>
                        <input name="senha" required type="password" ng-model="user.password">
                     </md-input-container>
                     <md-card-actions layout="column" layout-align="start" >
                        <md-button class="md-raised md-primary" href="encomendas.html" ng-disabled="loginForm.$invalid">Entrar</md-button>
                     </md-card-actions>
                  </md-card-content>
               </md-card>
            </div>
         </form>
         <p class="tagline"> Ou clique <a href="enterprise-homepage.html">aqui</a> para solicitar seu acesso </p>
      </div>
      <!-- Angular Material requires Angular.js Libraries -->
     <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
       <script src="../node_modules/angular-messages/angular-messages.min.js"></script>
    
      <!-- Your application bootstrap  -->
      <script type="text/javascript">    
         /**
         * You must include the dependency on 'ngMaterial' 
         */
         
         angular.module('SiGECApp', ['ngMaterial','ngMessages']);
      </script>
   </body>
</html>
<!--
   Copyright 2016 Google Inc. All Rights Reserved. 
   Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
   -->