<html lang="en" >
   <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

      <link rel="stylesheet" type="text/css" href="styles/RegistroStyle.css">
   </head>
   <body ng-app="SiGECApp" ng-cloak ng-controller="RegCtrl">
 <md-toolbar md-scroll-shrink ng-if="true">
    <div id="reg_toolbar" class="md-toolbar-tools">
      <h1>
        <span>Registro de Encomendas<span class="badge"></span> </span>
      </h1>
    </div>
  </md-toolbar>
      <div id="reg-corp" layout="column" ng-cloak class="md-inline-form">
         <form  name="addEncomendaForm" ng-submit="submitForm()">
            <md-content  layout-padding>
            </md-content>
            <md-content layout-padding>
               <div>
                  <div layout-gt-sm="row">
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Empresa</label>
                        <input required ng-model="package.enterprise">
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo</label>
                        <md-select required ng-model="package.type">
                           <md-option ng-repeat="type in types" value="{{type}}">
                              {{type}}
                           </md-option>
                        </md-select>
                     </md-input-container>
                       <md-input-container class="md-block">
                        <label>Peso</label>
                        <input ng-model="package.peso">
                     </md-input-container>
                    <md-input-container class="md-block">
                        <label></label>
                        <md-select ng-model="package.medida">
                           <md-option ng-repeat="medida in medidas" value="{{medida}}">
                              {{medida}}
                           </md-option>
                        </md-select>
                     </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Nome destinat&aacute;rio</label>
                        <input required ng-model="user.firstName">
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Bloco</label>
                        <md-select required ng-model="package.block">
                           <md-option  ng-repeat="block in blocks" value="{{block}}">
                              {{block}}
                           </md-option>
                        </md-select>
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Apartamento</label>
                        <md-select required ng-model="package.apart">
                           <md-option ng-repeat="apart in apartments" value="{{apart}}">
                              {{apart}}
                           </md-option>
                        </md-select>
                     </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Descri&ccedil;&atilde;o</label>
                        <textarea  required ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                     </md-input-container>
                     <md-input-container >
                        <choose-file layout="row">
                           <input id="fileInput" type="file" class="ng-hide">
                           <md-button id="uploadButton" class="md-icon-button" aria-label="More">
                              <img class="png-icon" src="assets/svg/camera.png" style="width: 24px; height: 24px;">
                           </md-button>
                           <md-input-container md-no-float>
                              <input id="textInput" ng-model="fileName" type="text" placeholder="Sem arquivo" ng-readonly="true">
                           </md-input-container>
                        </choose-file>
                     </md-input-container>
                  </div>
                  <md-button class="md-raised md-primary" href="encomendas.html" ng-disabled="addEncomendaForm.$invalid">Salvar</md-button>
         </form>
         </div>
         </md-content>
         </form>
      </div>
    
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
      <!-- Your application bootstrap  -->
      <script type="text/javascript">    
         /**
         * You must include the dependency on 'ngMaterial' 
         */
         
         angular.module('SiGECApp', ['ngMaterial','ngMessages']);
      </script>
    <script src="scripts/RegistroScript.js" type:"text/javascript">
      </script>
   </body>
</html>
<!--
   Copyright 2016 Google Inc. All Rights Reserved. 
   Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
   -->