div#outter-box {
    margin: auto;
    margin-top: 0px;
    min-width: 700px;
    max-width: 1000px;
    -webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.70);
    -moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.70);
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.70);
}

div#switch-box md-input-container.md-block {
    float: right;
}

div#switch-box p {
    float: left;
    padding-top:20px;
    padding-left:10px;
}

@media screen and (min-width: 1000px) { 
    md-toolbar._md.layout-row  {
        padding-left: 25%;
    }
}