div#outter-box {
    margin: auto;
    max-width: 1000px;
    -webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.70);
-moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.70);
box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.70);
}

div#list-text span {
    display: block;
}

md-content#content {
    background-color: white;
}

div#list-text {
    padding-top: 15px;
    float:right;
}

div.att-line {
    display: inline-flex;
}

div.att-line p {
    padding-right: 10px;
    display: inline-flex;
}

div#item-body p{
    padding-left: 10px;
}

div.att-line span {
    padding-right: 3px;
    display: inline-flex;
}

div#checkbox {
    float: right;
    padding-top: 30px;
}

div#item-body span {
   font-weight: bold;
}

div#item-head span#enterprise {
    font-size: 20px;
    font-weight: bold;
}

span#item-date {
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

span.flex {
    max-width: 60%;
}

md-toolbar._md.layout-row {
    padding-top: 10px;
}

div#toolbar-menu {
        padding-top: 10px;
    display: inline-flex;
}

a.md-fab.md-primary.md-button.md-ink-ripple {
    position: absolute;
    top: 80%;
    left: 75%;
    background-color: indianred;
}


div#list-item {
    display: inline-flex;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#list-item img {
    float: left;
     display: inline-block;
}

md-content {
    color: rgba(0,0,0,0,1);
    background-color: rgb(250,250,250);
}

@media screen and (min-width: 1000px) { 
    md-toolbar._md.layout-row  {
        padding-left: 15%;
    }
}

md-toolbar._md.layout-row  {
    background-color: blue;
}

md-content#content {
    -webkit-box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.70);
    -moz-box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.70);
    box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.70);
}