div#text-header {
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 1000px) { 
    div#text-center{
        margin: auto;
        width: 20%;
	
    }
}

.tagline {
	
	margin: 0 0 10px;
    color: #555;
    font-size: 14px;
    text-align: center;
	
}


 .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }

	.hint.ng-hide,
.hint.ng-enter,
   .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
 .hint.ng-leave,
   .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }
	
	.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }