div#text-header {
    padding: 20px;
    text-align: center;
}

div#text-center{
    margin: auto;
    width: 20%;
}

md-select#select_4 {
    padding-bottom: 25px;
}

@media screen and (min-width: 1000px) {
    div#reg-corp {
        margin: auto;
        width: 50%;
	}
}

div#outter {
    margin: auto;
    width: 50%;
	
}

div#reg_toolbar{
	padding-left: 25%;
    height: 300px;
    background-color: blue;
}	


md-input-container.md-block {
    padding-top: 20px;
}

.tagline {
	
	margin: 0 0 10px;
    color: #555;
    font-size: 14px;
    text-align: center;
	
}

span span{
    color:#3399FF;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 
}

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}

 .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }

	.hint.ng-hide,
.hint.ng-enter,
   .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
 .hint.ng-leave,
   .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }
	
	.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }